@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(to right, #000627, #081fa0);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.minimo {
    color: white;
    font-family: 'Roboto Condensed';
    text-align: center;
}

.maximo {
    color: white;
    font-family: 'Roboto Condensed';
    text-align: center;
}

.saldo-container {
    color: white;
    font-family: 'Roboto Condensed';
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 160px;
    border-radius: 10px;
    text-align: center;
}

.saldo {
    margin-top: 50px;
}

.teclado {
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 10px;
}

.deposito-container {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.botoes {
    padding: 10px;
    width: 70px;
    gap: 10px;
    border-radius: 7px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botoes:hover {
    background-color: #444;
}

.sucesso {
    text-align: center;
    color: lime;
    margin-top: 20px;
}

.erro{
    text-align: center;
    color: rgb(255, 0, 0);
    margin-top: 20px;
}

.invalido{
    text-align: center;
    color: rgb(255, 0, 0);
    margin-top: 20px;
}

.titulo {
    font-family: 'Roboto Condensed';
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 20px;
    right: 1200px;
    display: flex;
    gap: 20px;
}

.botao-footer {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.botao-footer:hover {
    background-color: #44444467;
}

input[type="text"] {
    padding: 5px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}
